<!DOCTYPE html>
<html lang="en">



<footer class="text-center text-white footer fixed-bottom" style="background-color: #502173;">

  <div class="text-center p-4" style="background: linear-gradient(#a359db, #502173)">
    <p class="mb-0">© 2025 Anatolii Puzin. All rights reserved.</p>
  </div>

</footer>



</html>