<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


  <body>

    <%- include('./partials/nav.ejs') %>

      <div class="container container_vid1 mt-4">
        <h1>**********</h1>
        <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1543466835-00a7907e9de1" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1552083375-1447ce886485" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Товар</h2>
                <p class="card-text">Это лучший товар на рынке. Как и остальные товары в нашем каталоге</p>
              </div>
            </div>
          </article>
        </div> -->

        <div id="gallery" class="gallery-container">
        </div>

        <nav aria-label="Page navigation">
          <ul class="pagination" id="pagination">
          </ul>
        </nav>
      </div>





      <%- include('./partials/footer.ejs') %>

        <script src="/js/bootstrap.bundle.min.js"></script>



        <script>
          /*           const images = [
                      'https://via.placeholder.com/150/FF0000',
                      'https://via.placeholder.com/150/00FF00',
                      'https://via.placeholder.com/150/0000FF',
                      'https://via.placeholder.com/150/FFFF00',
                      'https://via.placeholder.com/150/00FFFF',
                      'https://via.placeholder.com/150/FF00FF',
                      'https://via.placeholder.com/150/C0C0C0',
                      'https://via.placeholder.com/150/808080',
                      'https://via.placeholder.com/150/FFA500',
                      'https://via.placeholder.com/150/800080',
                      'https://via.placeholder.com/150/008000',
                      'https://via.placeholder.com/150/000080',
                      'https://via.placeholder.com/150/A52A2A',
                      'https://via.placeholder.com/150/D2691E',
                      'https://via.placeholder.com/150/5F9EA0',
                      'https://via.placeholder.com/150/DC143C',
                      'https://via.placeholder.com/150/00CED1',
                      'https://via.placeholder.com/150/FFD700',
                      'https://via.placeholder.com/150/F08080',
                      'https://via.placeholder.com/150/90EE90'
                    ];
           */

          /* const images = [
          {img : 'https://images.unsplash.com/photo-1543466835-00a7907e9de1' , card-title :  'Товар',card-text : 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге'}
          ];
         */

          const images = [
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар1', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар2', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар3', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар4', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар5', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар6', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар7', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар8', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар9', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар10', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар11', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар12', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар13', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар14', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар15', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар16', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар17', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар18', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар19', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар20', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар21', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар22', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар23', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
            { img: 'https://images.unsplash.com/photo-1543466835-00a7907e9de1', card_title: 'Товар24', card_text: 'Это лучший товар на рынке. Как и остальные товары в нашем каталоге' },
          ];


          const galleryContainer = document.getElementById('gallery');
          const paginationContainer = document.getElementById('pagination');
          const itemsPerPage = 5;
          let currentPage = 1;

          function displayImages(page) {
            galleryContainer.innerHTML = ''; // Очищаем контейнер
            const startIndex = (page - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            const currentImages = images.slice(startIndex, endIndex);

            currentImages.forEach(imageSrc => {

              const article = document.createElement('article');
              article.classList.add('col');

              const card = document.createElement('div');
              card.classList.add('card-body');
              //             card.classList.add('card-body');
              const img = document.createElement('img');
              img.src = imageSrc.img;
              img.classList.add('gallery-item', 'img-thumbnail');
              card.appendChild(img);

              const title = document.createElement('h2');
              title.classList.add('card-title');
              title.innerHTML = imageSrc.card_title;
              card.appendChild(title);


              //              galleryContainer.appendChild(img);
              article.appendChild(card);
              galleryContainer.appendChild(article);
            });


            /*             currentImages.forEach(imageSrc => {
                          const article = document.createElement('article');
                          const card = document.createElement('div');
                          card.classList.add('card-body');
            
                          const img = document.createElement('img');
                          img.classList.add('card-img-top');
                          img.src = imageSrc.img;
                          card.appendChild(img);
            
                                        article.classList.add('col');
                                        article.appendChild(card);
            
             */
            //  galleryContainer.appendChild(img);
            //   });



          }

          function setupPagination() {
            paginationContainer.innerHTML = ''; // Очищаем пагинацию
            const pageCount = Math.ceil(images.length / itemsPerPage);

            for (let i = 1; i <= pageCount; i++) {
              const listItem = document.createElement('li');
              listItem.classList.add('page-item');
              if (i === currentPage) {
                listItem.classList.add('active');
              }
              const link = document.createElement('a');
              link.classList.add('page-link');
              link.href = '#';
              link.textContent = i;
              link.addEventListener('click', (event) => {
                event.preventDefault();
                currentPage = i;
                displayImages(currentPage);
                updateActivePage();
              });
              listItem.appendChild(link);
              paginationContainer.appendChild(listItem);
            }
          }

          function updateActivePage() {
            const pageLinks = paginationContainer.querySelectorAll('.page-item');
            pageLinks.forEach(linkItem => {
              linkItem.classList.remove('active');
              const pageNumber = parseInt(linkItem.querySelector('.page-link').textContent);
              if (pageNumber === currentPage) {
                linkItem.classList.add('active');
              }
            });
          }

          // Инициализация галереи при загрузке страницы
          //console.log("8*********9")

          displayImages(currentPage);

          setupPagination();
        </script>



  </body>

</html>