<nav class="navbar fixed-top navbar-expand-lg navbar-dark  bg-primary">
  <div class="container-fluid">
    <a href="" class="navbar-brand">My collection</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
        <li class="nav-item"><a href="/addcollection" class="nav-link">Add collection</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/sorting_selection" class="nav-link">Sorting and selection</a></li>
      </ul>

      <img id='userfoto' src="" class="userfoto">

    </div>

  </div>

  <style>
    .navbar {
      background: linear-gradient(#a359db, #502173) !important;
    }

    .navbar .nav-link {
      color: white !important;
      font-size: x-large;
    }

    .navbar-brand {
      font-weight: 700;
      color: #ecf0f1 !important;
    }
  </style>

  <script src="/js/bootstrap.bundle.min.js"></script>

</nav>